---
---

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");

$red: #ff8e7f;
$pink: #ff80e2;
$purple: #9c7eff;
$blue: #80c1ff;
$green: #a1ff7f;
$yellow: #ffee7f;
$orange: #ffaf81;

.one {
  background-color: $red;
}

.two {
  background-color: $pink;
}

.three {
  background-color: $purple;
}

.four {
  background-color: $blue;
}

.five {
  background-color: $green;
}

.six {
  background-color: $yellow;
}

.seven {
  background-color: $orange;
}

h1 {
  padding: 0;
  margin: 0;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  font-size: 12em;
  line-height: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  color: black;
}

h2 {
  font-weight: 900;
  font-size: 4em;
  line-height: 1em;
  text-align: left;
  margin: 0;
  padding: 5%;
  padding-bottom: 1%;
}

.period {
  margin: 0;
  padding: 0;
  padding-bottom: 4vw;
  text-align: center;
  .period {
    margin-left: 5%;
    h2 {
      padding-top: 6vw;
    }
  }
}

.summary {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 10%;
  width: 40%;
  text-align: left;
  h3 {
    font-weight: 900;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 8%;
  }
}

.events {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  width: 40%;
  text-align: left;

  h3 {
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    margin-left: -5%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  h4 {
    font-weight: 900;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: -5%;
  }
}

p {
  line-height: calc(1em + 0.5vw);
}

a {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: var(--a);
  font-weight: 900;
  text-decoration: none;
  background-color: inherit;
  transition: 100ms;
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.link:hover {
  position: relative;
  animation: wiggle 1s infinite;
}
